@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<div>
    <br>The service provides an opportunity to receive Nebulas donations.<br>
    You can keep track of your donation and receive messages from your fans.<br><br>
    <p>To start getting donates enough to register and post a link to your profile like <b><i>nasdonate.com/to/your_nickname</i></b> and anyone can donate money to you.</p>
</div>